---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
  <div class="container">
    <section id="hero">
      <h1>Welcome to R10Progress!</h1>
      <a class="button main" href="https://app.r10progress.com">
        Go to the app
      </a>
    </section>
    <section id="features">
      <h2>Features</h2>
      <p>
        R10Progress is a web application to help you visualize shots, track your
        progress and goals captured with Garmin Approach R10 Golf Radar.
      </p>
      <ul>
        <li>Visualize your data</li>
        <li>Track your progress</li>
        <li>Set goals</li>
      </ul>

      <div class="images-container">
        <div>
          <h4>Averages per Session</h4>
          <p>
            See the averages of your data per session. Compare your current
            session to your previous sessions. Choose freely what data and club
            you want to see.
          </p>
          <img
            alt="Screenshot showing the Averages per Session graph in R10Progress for Garmin Approach R10 Golf Radar"
            src="/assets/averagespersession.png"
          />
        </div>
        <div>
          <h4>Shot Dispersion Graph</h4>
          <p>
            See the shot dispersion of your shots, shown by club type. Compare
            your shot lengths and directions to see where you need to improve.
            You can also remove outliers using IQR filtering or just focus on
            the above average shots.
          </p>
          <img
            alt="Screenshot showing the Shot Dispersion graph in R10Progress for Garmin Approach R10 Golf Radar"
            src="/assets/shotdispersion.png"
          />
        </div>
        <div>
          <h4>Shot Scatter Plot</h4>
          <p>
            See the shot scatter plot of your shots and compare the relationship
            between two data points to see if there is a correlation between
            them. For example, you can compare the relationship between your
            club speed and shot distance or maybe your club path and the
            sidespin or deviation distance!
          </p>
          <img
            alt="Screenshot showing the Shot Scatter Plot in R10Progress for Garmin Approach R10 Golf Radar"
            src="/assets/shotscatterplot.png"
          />
        </div>
        <div>
          <h3>Table views</h3>
          <p>
            Track your shots and averages over table views. See your data in a
            compact and easy to read way.
          </p>
          <img
            alt="Screenshot of the table view in R10Progress for Garmin Approach R10 Golf Radar"
            src="/assets/averagestable.png"
          />
        </div>
        <div>
          <h3>Goal Setting</h3>
          <p>
            Set goals for yourself and track your progress towards them. Stay
            motivated and focused on your goals.
          </p>
          <img
            alt="Screenshot of the goal setting page in R10Progress for Garmin Approach R10 Golf Radar"
            src="/images/goals.png"
            alt="Goal Setting"
          />
        </div>
      </div>
    </section>
    <section id="releases">
      <h2>Releases</h2>
      <p>
        R10Progress is under active development. If you have feature requests or
        find issues, be sure to mail me using the mail below! You can read more
        about the latest releases
        <a href="/release">here</a>.
      </p>
    </section>
  </div>
</BaseLayout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & > *:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
</style>
