---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
  <h1>Releases - R10Progress</h1>
  <section id="releases">
    <ul>
      <li>
        <h3>Version 1.0.0</h3>
        <p>
          Initial release of R10Progress. Track your progress and averages
          through tables with R10Progress.
        </p>
      </li>
      <li>
        <h3>Version 1.1.0</h3>
        <p>
          Added visualization for your data. See how your averages develop over
          time and use the shot scatter plot to visualize the relationship
          between data points. For example, you can compare the relationship
          between your club speed and shot distance or maybe your club path and
          the sidespin or deviation distance!
        </p>
      </li>
      <li>
        <h3>Version 1.2.0</h3>
        <p>
          Added the ability to remove outliers using IQR filtering or just focus
          on the above average shots in the Shot Dispersion graph.
        </p>
      </li>
      <li>
        <h3>Version 1.2.1</h3>
        <p>
          Improved a lot of the mobile experience. The app is now more
          responsive. We also offer the app as a PWA (Progressive Web App) so
          you can install it on your phone and use it offline.
        </p>
      </li>
      <li>
        <h3>Version 1.2.2</h3>
        <p>
          Improved date parsing for english locales. As reported from one of our
          users, the date format might be "M/D/YY" instead of the default
          "DD/MM/YYYY". We now support both formats.
        </p>
      </li>
    </ul>
  </section>
</BaseLayout>
