---
import "../styles.css";
const email = "r10progress@lakur.tech";
const year = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="r10progress.com"
      data-api="/api/wildflower/event"
      src="/api/wildflower/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      R10Progress - Track Your Progress and Goals with Garmin Approach R10
    </title>
    <meta
      name="description"
      content="R10Progress is a simple tool to help you track your progress and goals using the Garmin Approach R10 Golf Radar. Visualize your data, track your progress, and set goals with ease."
    />
    <meta
      name="keywords"
      content="R10Progress, Garmin Approach R10, Golf Radar, progress tracking, goal setting, data visualization, golf improvement"
    />
    <meta name="author" content="R10Progress" />
    <meta
      property="og:title"
      content="R10Progress - Track Your Progress and Goals with Garmin Approach R10"
    />
    <meta
      property="og:description"
      content="R10Progress is a simple tool to help you track your progress and goals using the Garmin Approach R10 Golf Radar. Visualize your data, track your progress, and set goals with ease."
    />
    <meta
      property="og:image"
      content="https://r10progress.com/assets/shotdispersion.png"
    />
    <meta property="og:url" content="https://r10progress.com/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="R10Progress - Track Your Progress and Goals with Garmin Approach R10"
    />
    <meta
      name="twitter:description"
      content="R10Progress is a simple tool to help you track your progress and goals using the Garmin Approach R10 Golf Radar. Visualize your data, track your progress, and set goals with ease."
    />
    <meta
      name="twitter:image"
      content="https://r10progress.com/images/visualization.png"
    />
    <link rel="canonical" href="https://r10progress.com/" />
    <link rel="icon" href="https://r10progress.com/favicon.ico" />
  </head>
  <body>
    <div id="content">
      <slot/>
    </div>
    <section id="contact">
      <h2>Contact</h2>
      <p>
        If you have any questions or feedback, please contact us at
        <a href={`mailto:${email}`}>{email}</a>.
      </p>
    </section>
    <footer>
      <p>© {year} R10Progress</p>
      <p>
        <a href="/imprint">Imprint</a>
      </p>
    </footer>
  </body>
</html>
